
DataFiles/CPE/common_platforms_202201151630.csv
DataFiles/CPE/official-cpe-dictionary_v2.3.xml
DataFiles/CVE/nvdcve-1.1-2020.json
DataModel/Neo4j/RelevanceRank/11-dump/relevance-rank-neo4j-Apr-3-2022-20-41-30.dump
